# M6809 build artifacts
src/assist-09/*.bin
src/assist-09/*.lst
src/assist-09/*.s19
src/assist-09/*.sym
src/assist-09/*.crf
src/forth-09/*.bin
src/forth-09/*.lst
src/forth-09/*.s19
src/forth-09/*.sym
src/forth-09/*.crf
